<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <appSettings>
    <!-- Environment -->
    <add key="Environment" value="Dev" />
    
    <!-- Couchbase Configuration-->
    <add key="couchbase.domain" value="http://localhost" />
    <add key="couchbase.port" value="8091" />
    <add key="couchbase.bucketName.common" value="TriperooCommon" />
    <add key="couchbase.bucketName.hotels" value="TriperooHotels" />
    <add key="couchbase.bucketName.customers" value="TriperooCustomers" />
    <add key="couchbase.bucketUsername" value="Administrator" />
    <add key="couchbase.bucketPassword" value="TagP01nts." />
    <add key="couchbase.useSSL" value="false" />

    <!-- Factual Configuration-->
    <add key="attractions.factual.key" value="nWFcF34G50ntAL53ivZSNwjVHgcj1wUA7Rddm5XC" />
    <add key="attractions.factual.secret" value="1XC6Y2xvEj6SFX4pcemZwf1MR7DyN9dQEITYdPHy" />
    
    <!-- Late Rooms Configuration-->
    <add key="hotels.laterooms.baseUrl" value="http://xmlfeed.laterooms.com" />
    <add key="hotels.laterooms.affiliateId" value="15695" />

    <!-- SkyScanner Configuration -->
    <add key="flights.skyscanner.key" value="tr353055531640511164431329880668" />
    <add key="flights.skyscanner.baseUrl" value="http://partners.api.skyscanner.net/apiservices/" />

    <!-- DarkSky Configuration -->
    <add key="weather.darksky.url" value="https://api.darksky.net/forecast/e78ae0578955bd3474a3aa763699c81f/{0},{1}?exclude=minutely,hourly,alerts,flags&amp;lang={2}" />
    
    <!-- Eventful Configuration-->
    <add key="events.eventful.url" value="http://api.eventful.com/json/events/search?app_key=fM6k99fvmWP9gbPZ&amp;location={0}&amp;date=This%20Week&amp;page_size={1}&amp;page_number={2}&amp;include=categories,subcategories,popularity,tickets,price,links"/>
    
    <!-- Service Stack Licence -->
    <add key="servicestack:license" value="2093-e1JlZjoyMDkzLE5hbWU6UGF1bCBCaWxsaW5ndG9uLUR5a2VzLFR5cGU6SW5kaWUsSGFzaDpDdnphcTlxMVJxQTFIOWd2VmdlcER5bXFpM2VoWWtLblErZzFiRkVXOXAwTkI4SlphSnQwK2VlRlpJZ1RBb2xFK0ZpdTB0N0c5Z3ZRQURNWXlRUklGQ1h3MDBuWk4vT2djbVhRaUdSRlpjcFg5OGZSN3RmREd3YVpmeTdPeGVINGhZQnl0cXdyL2VsSnROUEdndjdXVTllZHBpMTlEQlhWNmxzNGNPTzdOa3M9LEV4cGlyeToyMDE1LTEyLTMwfQ==" />

  </appSettings>
  
  <!-- Configure the system -->
  <system.web>
    <globalization culture="en-GB" />
    <httpRuntime maxRequestLength="1048576" requestValidationMode="2.0" targetFramework="4.5" />
    <customErrors mode="Off" />
    <httpHandlers>
      <add path="api*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <compilation debug="true" />
  </system.web>
  <!-- Required for IIS7 -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Token, token" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- This is to allow the Azure Storage container to serve fonts  -->
    <staticContent>
      <remove fileExtension="svg" />
      <remove fileExtension="eot" />
      <remove fileExtension="woff" />
      <remove fileExtension="ttf" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".ttf" mimeType="application/vnd.ms-fontobject" />
    </staticContent>
    <caching>
      <profiles>
        <add extension=".html" kernelCachePolicy="DontCache" policy="DontCache" />
      </profiles>
    </caching>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>