/core.hotels.co.uk/obj/Release/*.pdb
/core.hotels.co.uk/obj/Debug/*.dll
/core.hotels.co.uk/bin/Debug
/api.laterooms.co.uk/obj/Release
/triperoo.apis/obj/Release/TransformWebConfig/transformed
/triperoo.apis/obj/Debug
